<?xml version="1.0"?>
<model>
  <name>spikebot</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Thorben Schoepe</name>
    <email>me@my.email</email>
  </author>

  <description>
    eDVS controlled six weel robot with SpiNNaker board
  </description>
</model>
